# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Default ignored files
/shelf/
/workspace.xml
.idea
*.iml
/out
.iws
*.ipr
HELP.md
target/
.DS_Store
